<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add user</title>
</head>
<body>
<h2>Add user</h2>
<form action="#" method="POST" th:action="@{/admin/save}" th:object="${user}">
  <br>
  <label for="id">Id</label>
  <input readonly type="hidden" th:field="*{id}" id="id">
  <br>
  <label for="firstName">First name</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br>
  <label for="lNameName">Last name</label>
  <input type="text" th:field="*{lastName}" id="lNameName"/>
  <br>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br>
  <label for="age">Age</label>
  <input type="text" th:field="*{age}" id="age">
  <br>
  <label for="password">Password</label>
  <input type="text" th:field="*{password}" id="password">
  <br>
  <label>Roles:
    <input type="checkbox" name="roles"
           th:each="role: ${roles}"
           th:text="${role.name}"
           th:value="${role.id}"
           th:field="*{roles}"/>
  </label>
  <p>
    <input type="submit" class="buttonAdd" value="Save"/>
  </p>
</form>
</body>
</html>