<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
<h2>User:</h2>
<table>
    <tr>
        <form th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </tr>
    <br>
    <br>
    <tr>
        <td>UserId</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Email</td>
        <td>Roles</td>
    </tr>
    <tr>
        <td th:utext="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
    </tr>
</table>
</body>
</html>