<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<br>
<table>
    <tr>
        <td>
            <form th:action="@{'/admin/add/'}">
                <input type="submit" value="Create"/>
            </form>
            <br>
            <form th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>UserId</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
        <td>Email</td>
        <td>Roles</td>
    </tr>
    <tr th:each="user: ${users}">
        <td>
            <form th:action="@{'/admin/userPage/' + ${user.id}}">
                <input type="submit" value="User page"/>
            </form>
        </td>
        <td>
            <form th:action="@{'/admin/edit/' + ${user.id}}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'/admin/delete/' + ${user.id}}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
        <td></td>
        <td th:utext="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
    </tr>
</table>
</body>
</html>